.business-area {position: relative;height: 100vh;overflow: hidden;}
.business-area .main-title{ position: absolute; top:150px; width: 100%;}
.business-area .main-title .inner{padding:0 12px;}
.business-area .main-title h3, .business-area .main-title p{color: #fff;text-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);}
.business-area .img {position: absolute;inset: 0;}
.business-area .img .itm {position: absolute;inset: 0;overflow: hidden;}
.business-area .img .itm:not(:first-child) {clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);}
.business-area .img img {width: 100%;height: 100%;object-fit: cover;}
.business-area .inner {position: relative;z-index: 10;height: 100%;}
.business-area .txt {position: absolute; bottom: 350px;width: 100%; }
.business-area .txt .itm {position: absolute;right: 12px;top: 0;opacity: 0; border-top:2px solid rgba(255,255,255,.3); padding-top:30px;
max-width:700px; width: 100%;}
.business-area .txt .itm:first-child { opacity: 1;}
.business-area .txt h3,
.business-area .txt p {opacity: 0; word-break: keep-all;}
.business-area .txt h3 {transform: translateX(60px); font-size: clamp(2.8rem, 2.4vw, 3.8rem); font-weight: 600; margin-bottom:30px; color: #fff; text-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);}
.business-area .txt p {transform: translateX(120px); color:#fff; text-shadow: 0 4px 18px rgba(0, 0, 0, 0.07); font-size: 1.5rem; line-height: 1.5; word-break: keep-all;}

@media all and (min-width: 1920px) {
    .business-area .txt{bottom:450px;}
}

@media all and (max-width:900px){
    .business-area .txt{width: 90%; right: 0; padding: 0 12px; padding-top: 30px; border-top: none;}
    .business-area .txt p {font-size:18px;}
    .business-area .txt h3{font-size: 2.5rem;}
}
@media all and (max-width:500px){
   .business-area .txt h3 br{display: none;}
}