.ccs-section {
  position: relative;
  height: 600vh;
  background:#fff;
}

.ccs-sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ccs-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  overflow: hidden;
  z-index: 1;
  background: url('/images/main/star.jpg');
  background-size: 100px;
  border-radius: 50%;
}

.ccs-circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.ccs-circle .go-link{position: absolute; left: 50%; position: absolute;
    left: 50%;
    top: 30%;
    color: #ffffff;
    z-index: 1;
    transform: translate(-50%, -30%); font-size: 20px; text-decoration: underline;
  font-family: 'Sweet';}

.ccs-circle .img-wrap{
  width:100%; height:100vh;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.ccs-globe-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ccs-text {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  white-space: nowrap;
}

.ccs-label {
  margin-bottom: 12px;
  font-size: 15px;
  color: #999;
}

.ccs-title {
  font-size: clamp(34px, 4vw, 58px);
  line-height: 1.2;
  font-weight: 700;

  color: #222;
}

.ccs-cards {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 36px;
  z-index: 20;
}

.ccs-card {
  width: 300px;
  min-width: 300px;
  height: 360px;
  padding: 50px 32px;
  border-radius: 28px;
  /* background: rgba(79, 109, 233, 1); */
  backdrop-filter: blur(8px);
  color: #fff;
  box-sizing: border-box;
  border:1px solid rgba(255,255,255,.1)
}

.ccs-card:nth-child(even) {
  transform: translateY(-28px);
}

.ccs-card:nth-child(odd) {
  transform: translateY(28px);
}

.ccs-card-num {
  font-size: 56px;
  line-height: 1;
  font-weight: 700;
}

.ccs-card-unit {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  opacity: 0.8;
}

.ccs-card-label {
  margin-top: 28px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.ccs-card-sub {
  margin-top: 10px;
  font-size: 13px;
  opacity: 0.6;
}