.main-contact{padding:6.25rem 0;}
.contact-inquiry{position:relative; display:flex; align-items:center; justify-content:space-between; padding:3rem 6rem; box-sizing:border-box; background:url('/images/main/contact_bg.jpg') no-repeat center / cover;
     border-radius:20px;}
.contact-inquiry:before{content:""; position:absolute; inset:0; border-radius:inherit; padding:1px; z-index:9; pointer-events:none; background:linear-gradient(135deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.01) 40%, rgba(255,255,255,0.01) 60%, rgba(255,255,255,0.15) 100%); -webkit-mask:linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); -webkit-mask-composite:xor; mask-composite:exclude;}
.contact-inquiry .contact-inquiry-txt-box{width:50%;}
.contact-inquiry .contact-inquiry-txt-box .inquiry-tit{font-size:3rem; line-height:1.4; letter-spacing:-0.03em; color:#fff; font-weight:700;}
.contact-inquiry .contact-inquiry-txt-box .inquiry-txt{font-size:1.375rem; line-height:1.6; letter-spacing:-0.05em; color:#fff; font-weight:500; margin-top:12px;}
.contact-inquiry .contact-btn-box{width:50%; max-width:600px;}
.contact-inquiry .contact-btn-box .contact-btn-item{background: rgba(0, 0, 0, 0.30); backdrop-filter: blur(15.5px);
position:relative; display:flex; align-items:center; justify-content:space-between; padding:20px 40px; box-sizing:border-box; width:100%; margin-bottom:12px; border-radius:12px; overflow:hidden;}
.contact-inquiry .contact-btn-box .contact-btn-item:first-child{background:linear-gradient(149.87deg, var(--primary-color) -1.16%, #004791 86.11%);}
.contact-inquiry .contact-btn-box .contact-btn-item::before{background:linear-gradient(135deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.01) 40%, rgba(255,255,255,0.01) 60%, rgba(255,255,255,0.15) 100%);}
.contact-inquiry .contact-btn-box .contact-btn-item:last-child{margin-bottom:0;}
.contact-inquiry .contact-btn-box .contact-btn-item .txt-box{position:relative; width:calc(100% - 6.4rem);}
.contact-inquiry .contact-btn-box .contact-btn-item .txt-box .txt01{font-size:1.5rem; line-height:1.4; letter-spacing:0; font-weight:700; color:#fff;}
.contact-inquiry .contact-btn-box .contact-btn-item .txt-box .txt02{display:flex; font-size:16px; line-height:1.6; letter-spacing:-0.05em; color:#fff; font-weight:600;}
.contact-inquiry .contact-btn-box .contact-btn-item .txt-box .txt02 span{position:relative; margin-right:1rem;}
.contact-inquiry .contact-btn-box .contact-btn-item .txt-box .txt02 span:before{position:absolute; content:''; top:0.4rem; right:-0.5rem; width:2px; height:12px; background:rgba(255,255,255,0.25);}
.contact-inquiry .contact-btn-box .contact-btn-item .txt-box .txt02 span:last-child{margin-right:0rem;}
.contact-inquiry .contact-btn-box .contact-btn-item .txt-box .txt02 span:last-child:before{display:none;}
.contact-inquiry .contact-btn-box .contact-btn-item .icon-box{position:relative; width:4rem; height:4rem; display:flex; align-items:center; justify-content:center; border-radius:12px; background:rgba(255,255,255,0.1);}
.contact-inquiry .contact-btn-box .contact-btn-item .icon-box:before{padding:1px; background:linear-gradient(135deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.01) 40%, rgba(255,255,255,0.01) 60%, rgba(255,255,255,0.5) 100%);}
.contact-inquiry .contact-btn-box .contact-btn-item .icon-box:after{padding:1px;}
.contact-inquiry .contact-btn-box .contact-btn-item:hover .icon-box:after{opacity:1;}
.contact-inquiry .contact-btn-box .contact-btn-item .icon-box .liquid-effect{border-radius:12px;}
.contact-inquiry .contact-btn-box .contact-btn-item .icon-box img{max-width:100%;}
.contact-inquiry .contact-btn-box .contact-btn-item .icon-box svg{position:relative; width:4rem; height:4rem;}
.contact-inquiry .contact-btn-box .contact-btn-item:last-child .icon-box svg{width:3.2rem; height:3.2rem;}
.contact-inquiry .contact-btn-box .contact-btn-item .cm-fill{position:absolute; display:block; width:0px; height:0px; top:50%; left:50%; transform:translate(-50%,-50%); border-radius:50%; opacity:0.95; transition:width 0.8s, height 0.8s, top 0.1s; background:linear-gradient(149.87deg, #FF3429 -1.16%, #B5241C 86.11%); display:none;}
.contact-inquiry .contact-btn-box .contact-btn-item.active .cm-fill{width:80rem; height:80rem; transform:translate(-50%, -50%);}
.contact-inquiry .contact-btn-box .contact-btn-item.up .cm-fill{top:0;}
.contact-inquiry .contact-btn-box .contact-btn-item.down .cm-fill{top:100%;}
.contact-btn-item{position:relative;}
.contact-btn-item .copied-toast{position:absolute; bottom:-24px; left:0; font-size:1.2rem; color:#38BDFF; background:rgba(0,0,0,0.6); padding:2px 8px; border-radius:4px; white-space:nowrap;}

@media all and (max-width:1200px){
    .contact-inquiry{padding:2rem 2rem;}
    .contact-inquiry .contact-inquiry-txt-box .inquiry-tit{word-break: keep-all;}
    .contact-inquiry .contact-inquiry-txt-box .inquiry-tit br{display: none;}
}

@media all and (max-width:767px){
    .contact-inquiry .contact-inquiry-txt-box .inquiry-tit{font-size: 2rem;}
    .contact-inquiry{flex-direction: column; justify-content: start; gap: 30px; border-radius:10px;}
    .contact-inquiry .contact-inquiry-txt-box, .contact-inquiry .contact-btn-box{width:100%;}
    .contact-inquiry .contact-btn-box .contact-btn-item{padding:20px 16px; border-radius:10px;}
}