.main-demo01 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
 }

.main-demo01 .bg-con {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0;
}

.main-demo01 .bg-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.main-demo01 .experience-middle-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  pointer-events: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  mix-blend-mode: lighten;
  isolation: isolate;
  color: black;
  background-color: #fff;
}

.main-demo01 .mask-text {
  width: 70%;
  max-width: 900px;
  transform-origin: 40% 40%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  touch-action: none;
  user-select: none;
}

.main-demo01 .desc-con {
  position: absolute;
  bottom: 15%;
  left: 5%;
  z-index: 3;
  color: #fff;
}

.main-demo01 .desc-con h1,
.main-demo01 .desc-con p {
  opacity: 0;
}

.main-demo01 .desc-con h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.main-demo01 .desc-con p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  opacity: 0;
}