.inner{max-width: 1640px; margin: 0 auto; width:100%; padding: 0 12px;}
.main-title{margin-bottom: 50px;}
.main-title .inner{padding: 0;}
.main-title h3{font-size: clamp(4rem, 3vw, 6rem); font-weight: bold; margin-bottom: 20px;}
.main-title h3 span{font-weight: bold; color:var(--primary-color)}
.main-title p{font-size: 1.25rem; font-weight: 500; word-break: keep-all; color: #676767;}

@media all and (max-width:767px){
    .main-title h3{font-size: 3rem; word-break: keep-all;}
    .main-title h3 br{display: none;}
}

.border-gradient{position:relative; border-radius:10px; overflow:visible;}
.border-gradient::before{content:""; position:absolute; inset:0; border-radius:inherit; padding:2px; z-index:1; pointer-events:none; background:linear-gradient(135deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.01) 40%, rgba(255,255,255,0.01) 60%, rgba(255,255,255,0.4) 100%); -webkit-mask:linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); -webkit-mask-composite:xor; mask-composite:exclude;}
.border-gradient::after{content:""; position:absolute; inset:0; padding:2px; box-sizing:border-box; border-radius:inherit; z-index:2; pointer-events:none; opacity:0; filter:drop-shadow(0 0 1.8rem #fff); transition:opacity 0.5s ease; -webkit-mask:linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); -webkit-mask-composite:xor; mask-composite:exclude; background:conic-gradient(from var(--agree-border-angle), transparent 0deg, transparent 210deg, rgba(255,255,255,0) 245deg, rgba(255,255,255,0.58) 275deg, rgba(255,255,255,0.7) 300deg, rgba(255,255,255,0.25) 325deg, rgba(255,255,255,0) 350deg, transparent 360deg); animation:gradientBtnHover 2.5s linear infinite;}
.border-gradient:hover::after{opacity:1;}
@keyframes gradientBtnHover{0%{--agree-border-angle:0deg;} 20%{--agree-border-angle:90deg;} 35%{--agree-border-angle:140deg;} 50%{--agree-border-angle:180deg;} 70%{--agree-border-angle:270deg;} 85%{--agree-border-angle:320deg;} 100%{--agree-border-angle:360deg;}}
@keyframes spin{from{transform:translate(-50%,-50%) rotate(0deg);} to{transform:translate(-50%,-50%) rotate(360deg);}}
@property --agree-border-angle{syntax:'<angle>'; inherits:false; initial-value:0deg;}

