.footer{
    padding: 80px 0; background: #0F0F0F;
}
.ft-top {display: flex; justify-content: space-between; width:100%; margin-bottom:50px;}
.ft-top > ul {display: flex; gap:2rem;}
.ft-top > ul > li{position: relative;}
.ft-top > ul > li:first-child:after{content:""; display: block; width:1px; height:7px; background:#999;
position: absolute; right:-1rem; top:6px;}
.ft-top a{color: #999;}
.ft-bottom > ul{display: flex; width:100%; justify-content: space-between; gap: 20px;}
.ft-bottom > ul ul li{display:flex; align-items: baseline;}
.ft-bottom span{color: #666; width:120px; font-weight: 600;} 
.ft-bottom p{color:#999; font-weight: 600; line-height: 2; flex:1;}

@media all and (max-width:767px){
    .ft-top{flex-direction: column; gap: 30px; align-items: center; justify-content: center;}
    .ft-bottom > ul{flex-direction: column;}
}